*,
*:before,
*:after {
  box-sizing: border-box;
}

.logotip {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.logotip-text-color {
  color: #ff5722;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.logotip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  position: fixed;
  background: #fafafa;
  border-radius: 4px;
  width: 1400px;
}

.logotip__img-svg {
  width: 28px;
}

.logotip__basket {
  position: absolute;
  left: 1300px;
}

.logotip__select {
  position: absolute;
  left: 1230px;
  top: 21px;
}

.logotip__select-sku {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50px;
  background-color: #f36223;
  color: #fafafa;
  position: absolute;
  top: -11px;
  right: -12px;
  padding: 3px;
  visibility: hidden;
}

.logotip__basket-sku {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50px;
  background-color: #f36223;
  color: #fafafa;
  position: absolute;
  top: -8px;
  right: -12px;
  padding: 3px;
  visibility: hidden;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.breadcrumps {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 85px;
}

.breadcrumps {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumps__nav {
  margin-bottom: 20px;
}

.breadcrumps__link {
  color: #018ad2;
  text-decoration: none;
}

.breadcrumps__link:hover {
  color: #f36223;
  text-decoration: none;
}

.breadcrumps__link:active {
  color: #A93A09;
  text-decoration: none;
}

.breadcrumps span {
  color: #018ad2;
}

.product__name {
  margin-top: 0px;
}

.product__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.product__img-photo {
  height: 387px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1400px;
  gap: 100px;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 880px;
}

label>input {
  visibility: hidden;
  position: absolute;
}

label.btn-sku__radio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
}

label>input+img {
  background-color: transparent;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

label>input:hover+img {
  cursor: pointer;
  background: #f2f2f2;
  border: 1px solid #888888;
  border-radius: 4px;
}

label>input:active+img {
  border: 2px solid #A93A09;
  border-radius: 4px;
  cursor: pointer;
}

label>input:checked+img {
  border: 2px solid #F36223;
  border-radius: 4px;
  cursor: pointer;
}

.btn-sku__img-radio {
  height: 80px;
  width: 80px;
  padding: 10px 20px;
}

.btn-sku {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product-memory__radio-btn {
  padding: 10px 20px 10px 20px;
  background: transparent;
  outline: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

label>input+.product-memory__radio-btn {
  background-color: transparent;
  outline: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

label>input:hover+.product-memory__radio-btn {
  cursor: pointer;
  background: #f2f2f2;
  outline: 1px solid #888888;
  border-radius: 4px;
}

label>input:active+.product-memory__radio-btn {
  outline: 2px solid #A93A09;
  border-radius: 4px;
  cursor: pointer;
}

.product-memory__label-btn>.product-memory__input-btn:checked+.product-memory__radio-btn {
  outline: 2px solid #F36223;
  border-radius: 4px;
  cursor: pointer;
}

.link {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.link_padding {
  padding-left: 0px;
}

.link__li {
  font-size: 16px;
  margin-left: -1px;
}

.link__li::before {
  content: "•";
  padding-right: 10px;
  font-size: 40px;
  color: rgb(161, 161, 161);
  vertical-align: middle;
  line-height: 1px;
}

.product-characteristic__a {
  color: #018ad2;
  text-decoration: none;
}

.product-characteristic__a:hover {
  color: #f36223;
  text-decoration: none;
}

.product-characteristic__a:active {
  color: #A93A09;
  text-decoration: none;
}

.model-comparison {
  width: 876px;
  height: 190px;
  border: 1px solid #888888;
  border-collapse: collapse;
}

.model-comparison__head {
  border: 1px solid #888888;
  background-color: #f36223;
  padding: 10px;
}

.model-comparison__tr {
  text-align: center;
  white-space: nowrap;
  border-right: 1px solid #888888;
  padding: 10px;
}

.model-comparison__tr:hover {
  background: #dac9c9;
}

.model-comparison__th {

  border: 1px solid #888888;
  background-color: #f36223;
  padding: 10px;
  color: #F2F2F2;
}

.model-comparison__td {
  text-align: center;
  border-right: 1px solid #888888;
  white-space: nowrap;
  padding: 10px;
}

.review-block {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.product-review__header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.product-review__img {
  height: 140px;
}

.product-review__star {
  height: 30px;
  width: 160px;
}

.product-review__amount {
  color: #888888;
  margin-top: 20px;
}

.product-review__btn {
  width: 128px;
  height: 19px;
  margin-top: 40px;
}

.product-review__line {
  margin-bottom: 30px;
  margin-top: 60px;
  border: 1px dashed #888888;
}

.product-review__img {
  border-radius: 100px;
  margin-right: 30px;
  width: 140px;
  margin-top: 20px;
}

.product-review__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 880px;
}

.review-post__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
  margin-top: 44px;
  margin-bottom: 20px;
}

.review-post__input {
  display: flex;
  flex-direction: row;
}

.review-post__input-name {
  width: 495px;
  height: 49px;
  border: transparent;
  outline: 1px solid #888888;
  margin-right: 38px;
  background: #fafafa;
}

input.review-post__input-name {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
  padding: 15px 20px;
}

.review-post__input-name-error {
  background: #DA4A0C;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #f2f2f2;
  font-size: 12px;
  line-height: 15px;
  height: 40px;
  margin-right: 37px;
  border-radius: 5px;
  padding: 10px;
  visibility: hidden;
}

.review-post__input-name::placeholder {
  box-sizing: border-box;
  color: #888888;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
}

.review-post__input-name:hover {
  outline: 1px solid #888888;
  border: 1px solid #888888;
}

.review-post__input-name:focus {
  outline: 1px solid #888888;
  border: 1px solid #888888;
}

.review-post__input-rating {
  width: 175px;
  height: 49px;
  background: #fafafa;
  border: transparent;
  outline: 1px solid #888888;
}

input.review-post__input-rating {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
  padding: 15px 20px;
}

.review-post__input-rating-error {
  display: flex;
  background: #DA4A0C;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #f2f2f2;
  font-size: 12px;
  line-height: 15px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  visibility: hidden;
}

.review-post__input-rating::placeholder {
  box-sizing: border-box;
  color: #888888;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
}

.review-post__input-rating:hover {
  outline: 1px solid #888888;
  border: 1px solid #888888;
}

.review-post__input-rating:focus {
  outline: 1px solid #888888;
  border: 1px solid #888888;
}

.review-post__textarea {
  box-sizing: border-box;
  width: 710px;
  height: 190px;
  border: none;
  outline: 1px solid #888888;
  resize: none;
  background: #fafafa;
}

textarea.review-post__textarea {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
  padding: 15px 20px;
}

.review-post__textarea::placeholder {
  box-sizing: border-box;
  color: #888888;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
}

.review-post__textarea:hover {
  outline: 1px solid #888888;
  border: 1px solid #888888;
}

.review-post__textarea:focus {
  outline: 1px solid #888888;
  border: 1px solid #888888;
}

.review-post__btn {
  width: 177px;
  height: 39px;
  background: #F36223;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border-color: transparent;
  cursor: pointer;
  margin-bottom: 100px;
  margin-top: 30px;
}

.review-post__btn:hover {
  background: #DA4A0C;
}

.review-post__btn:active {
  background: #A93A09;
}

.margin-form {
  margin-left: 170px;
}

.review-form__input {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

.review-post__textarea {
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.box-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
}

.box-price--position {
  margin-bottom: 67px;
  margin-top: 20px;
}

.box-price__price-block {
  display: flex;
  flex-direction: column;
}

.box-price__discount {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  width: 380px;
}

.box-price__price {
  font-size: 30px;
  margin-top: 15px;
}

.box-price__old-prise {
  text-decoration: line-through;
  color: #a1a1a1;
  margin-top: 5px;
  margin-bottom: 0px;
}

.box-price__sale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  border-radius: 10px;
  background-color: #f36223;
  color: #fafafa;
  margin-left: -200px;
}

.box-price__checkbox {
  height: 30px;
  width: 30px;
}

.box-price__heart-svg {
  content: url(./images/heart.svg);
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: #888888;
}

.box-price__heart-svg::before {
  content: url(./images/heart.svg);
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: #888888;
}

.box-price__heart-svg:hover {
  content: url(./images/heartс.svg);
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: #DA4A0C;
}

.box-price__heart-svg:active {
  content: url(./images/heartdc.svg);
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: #A93A09;
}

.box-price__delivery {
  height: 100px;
}

.box-price__btn-cart-js {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background: #888888;
  border-radius: 4px;
  color: white;
  border: none;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}

.box-price__btn-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background: #f36223;
  border-radius: 4px;
  color: white;
  border: none;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}

.box-price__btn-cart::before {
  content: url(./images/basket.svg);
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.box-price__btn-cart:hover {
  cursor: pointer;
  background-color: #da4a0c;
}

.box-price__btn-cart:active {
  cursor: pointer;
  background: #A93A09;
}

.iframe {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.iframe-style {
  border: 1px dashed #888888;
}

.iframe__iframe-top {
  width: 420px;
  height: 300px;
}

.iframe__iframe-bottom {
  width: 420px;
  height: 300px;
}

.content-righ__advert {
  color: #a1a1a1;
  font-size: 14px"

}

.footer {
  background-color: #F2F2F2;
}

.padding-footer {
  padding: 30px 0;
}

.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

.contacts {
  color: #018ad2;
  text-decoration: none;
}

.contacts:hover {
  color: #f36223;
  text-decoration: none;
}

.contacts:active {
  color: #A93A09;
  text-decoration: none;
}

.margin {
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.style-text {
  font-family: sans-serif;
}

.max-width {
  max-width: 1500px;
}

.not-style {
  margin: 0px;
}

.page--no-style {
  margin: 0px;
}

.center {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.page {
  background: #fafafa;
}

@media screen and (max-width: 1499px) {
  .max-width {
    max-width: 1024px;
  }

  .margin {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logotip {
    width: 994px;
  }

  .logotip__select {
    position: absolute;
    left: 850px;
  }

  .logotip__basket {
    position: absolute;
    left: 920px;
  }

  .product__img-photo {
    height: 272px;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 994px;
    gap: 10px;
  }

  .content-left {
    width: 594px;
  }

  .sidebar {
    width: 360px;
  }

  .iframe__iframe-top {
    width: 100%;
    height: 300px;
  }

  .iframe__iframe-bottom {
    width: 100%;
    height: 300px;
  }

  .product-comparison {
    display: none;
  }

  .product-review__img {
    height: 100px;
    width: 100px;
  }

  .product-review__star {
    height: 20px;
    width: 110px;
  }

  .margin-form {
    margin-left: 0px;
  }

  .box-price__discount {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    width: 330px;
  }

  .box-price__sale {
    margin-left: -170px;
  }

  .product-review__content {
    width: 594px;
  }

  .review-post__input-name {
    width: 404px;
  }

  .review-post__input-rating {
    width: 152px;
  }

  .review-post__textarea {
    width: 594px;
  }

  .box-price__btn-cart {
    margin-top: 20px;
  }
}