.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0
}
.page__text {
font-family: sans-serif;
box-sizing: border-box;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: gray;
}